body{
    background-color: #eca200;
}

.container{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 150px;
    left: 750px;
    border: 2px solid;
    width: 550px;
    height: 550px;
    border-radius: 30px;
    background-color: white;
    border-color: #eca200;
}

.form{
    position: absolute;
    left: 30px;
    top: 10px
}

.btn button{
    padding-left: 25px;
    margin-left: 80px;
    color: #eca200;
}

.btn2 button{
    color: #eca200;
    margin: 10px;
}

mat-form-field{
    background-color: white;
    border-radius: 30px;
    margin-top: 20px;
    height: 70px;
    margin-left: 15px;
}